.PassFormContainer {
    border: 1px solid black;
    width: fit-content;
    left: 50%;
    top: 30%;
    position: relative;
    transform: translate(-50%, -50%);
}

.error {
    color: red;
}

.RPMessageSpanReset {
    color: green;
}

.MessageSpanSize {
    height: 20px;
}

.InputPassContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.PassForm>* {

    margin: 10px;
}

.InputPassContainer input {
    border: 1px solid black;
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
}

.InputPassContainer input:focus {
    border: 1px solid black;
   background-color: aliceblue;
}

.PassForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.PassForm button {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: #1ab443;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.PassForm button:hover {
    transition: .4s;
    transform: scale(1.01);
}