.Cart {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: calc(25% + 140px);
    transform: translate(-0%, -50%);
}

.CartContainer>* {
    width: 100px;
}

.CartHedaer,
.CartData {
    border: 1px solid black;
    width: fit-content;
    justify-content: flex-start;
    display: flex;
}

.CartHedaer>*,
.CartData>* {
    margin: 10px;
}