.ForgotContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;

}
.ForgotContainer span{
    margin: 10px;
    color: green;
    font-weight: 600;
}

.ForgotPasswordForm {
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

/* .ForgotPasswordForm>* {
    margin: 10px 10px;
} */

.ForgotPasswordForm h2 {
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 20px 10px;
}

.ForgotInputContainer {
    /* border: 1px solid black; */
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin: 0px;
}

.ForgotInputContainer input {
    width: 90%;
    border-radius: 10px;
    border: 1px solid #ccd0d5;
    padding: 10px;
    font-size: 18px;
    margin: 10px 0px;
}

.ForgotInputContainer p {
    margin: 10px 0px;
}

.ForgotPasswordBtns {
    margin: 0px;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px;
}

.ForgotPasswordBtns>button {
    cursor: pointer;
    margin: 0px 10px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
}

.ForgotPasswordBtns .Cancel {
    background-color: #e4e6eb;
    color: #4b4f56;
}

.ForgotPasswordBtns .Submit {
    background-color: #1ab443;
    color: white;
}

.ForgotPasswordBtns>button:hover {
    transition: 0.3s;
    transform: scale(1.05);
}